google-auth==2.23.3
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
google-api-python-client==2.103.0
python-dateutil==2.8.2
requests==2.32.4
python-dotenv==1.0.0
twilio==8.10.0
pytz==2023.3
supabase==2.15.3
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
